<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Plane</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/admin/add-plane">Add Plane</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/admin/add-plane" method="POST">
        <div class="input-block">
          <label for="add-plane">Add Plane</label>
          <input type="text" id="add-plane" name="plane" />
        </div>
        <button type="submit">add</button>
      </form>
    </main>
  </body>
</html>
