<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/admin/add-plane">Add Plane</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>Home Page Yo</h1>
        <ul>
          <li>Cessna 421</li>
          <li>Cirrus SR-22</li>
          <li>Diamond DA-42</li>
        </ul>
      </div>
    </main>
  </body>
</html>
