<%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/nav.ejs') %>
    <main>
      <div>
        <h1>Home Page Yo</h1>
        <ul>
          <li>Cessna 421</li>
          <li>Cirrus SR-22</li>
          <li>Diamond DA-42</li>
        </ul>
      </div>
    </main>
  </body>
</html>
